@media (min-width: 1024px) and (min-height: 576px) {
	.fp-controlArrow.fp-prev {
	    left: 10px;
	    border: none;
	    width: 25px;
	    height: 180px;
	}
	.fp-controlArrow.fp-next {
	    right: 10px;
	    border: none;
	    width: 25px;
	    height: 180px;
	}
	#slide-0 .chat1 {
	    margin-left: -3.5%;
	    margin-bottom: 10%;
	    width: 575px;
	}
	#slide-0 .chat1 p {
	  font-size: 22px;
	  font-weight: 700;
	}

	#slide-0 .chat1 img {
	  width: 175px;
	  display: inline-block;
	}

	#slide-0 .bg1 {
	  margin-left: 10%;
	  margin-bottom: 8%;
	}

	#slide-0 .bg1 img {
	  width: 300px;
	  display: block;
	  opacity: 0.8;
	}

	#slide-0 .chat2 {
	  margin-left: auto;
	  margin-right: -5%;
	  margin-bottom: 17%; 
	  width: 575px;
	}

	#slide-0 .chat2 p {
	  font-size: 22px;
	  font-weight: 600;
	  padding: 0 150px;
	}

	#slide-0 .chat2 img {
	  width: 175px;
	  display: block;
	}

	#slide-0 .bg2 {
	  margin-bottom: 14%;
	}

	#slide-0 .bg2 img {
	  display: block;
	  margin-left: auto;
	  margin-right: 6%;
	  width: 350px;
	  opacity: 0.8;
	}
	#slide-1 .about .body-content {
	  padding-right: 165px;
	  font-size: 12px;
	}
	#slide-1 .about {
	  margin-left: 6%;
	  margin-bottom: 8%;
	}
	#slide-1 .bg {
	  margin-left: 7%;
	  margin-bottom: 6%;
	}
	#slide-1 .bg img {
	    width: 450px;
	}
	@keyframes smoke {
	  100% { background-position: -1342px; }
	}
	#slide-2 .smoke {
	  left: 37%;
	  top: 17%;
	  height: 220px;
	  width: 224px;
	}
	#slide-2 .body-content .sub-title {
	    font-size: 13px;
	}
	#slide-2 .body-content p {
	    margin-bottom: 0px;
	    font-size: 11px;
	}
	#slide-2 .circle__content {
	    padding: 3em;
	}
	#slide-2 .what1 .circle {
		width: 290px;
	  margin-left: 15%;
	  margin-bottom: 22%;
	}

	#slide-2 .what2 .circle {
		width: 290px;
	  margin-right: 15%;
	  margin-bottom: 22%;
	}

	#slide-2 .what3 .circle {
		width: 290px;
	  margin-left: 2%;
	  margin-top: 11%;
	}

	#slide-2 .circle3 .circle {
		width: 290px;
	  margin-left: 2%;
	  margin-top: 11%;
	}

	#slide-2 .what4 .circle {
		width: 290px;
	  margin-right: 2%;
	  margin-top: 11%;
	}

	#slide-2 .circle4 .circle {
		width: 290px;
	  margin-right: 2%;
	  margin-top: 11%;
	}
	#slide-4 .body-content .sub-title {
	    font-size: 13px;
	}
	#slide-4 .body-content p {
	    margin-bottom: 0px;
	    font-size: 11px;
	}
	#slide-4 .circle__content {
	    padding: 3em;
	}
	#slide-4 .culture1 .circle {
		width: 290px;
	  margin-left: 12%;
	  margin-bottom: 17%;
	}

	#slide-4 .culture2 .circle {
		width: 290px;
	  margin-right: 12%;
	  margin-bottom: 17%;
	}

	#slide-4 .culture3 .circle {
		width: 290px;
	  margin-left: 3%;
	  margin-top: 15%;
	}

	#slide-4 .circle3 .circle {
		width: 290px;
	  margin-left: 3%;
	  margin-top: 15%;
	}

	#slide-4 .culture4 .circle {
		width: 290px;
	  margin-right: 3%;
	  margin-top: 15%;
	}
	#slide-4 .circle4 .circle {
	  margin-right: 3%;
	}
	#slide-5 .contact {
	    margin-top: 7%;
	}
	#slide-5 .body-content {
	    font-size: 13px;
	}
	.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
	    top: -7px;
	    font-size: 13px;
	    line-height: 1.42857143;
	}
	#slide-5 .form-control {
	    font-size: 13px;
	    height: 34px;
	}
	#slide-5 textarea.form-control {
	    height: 45px;
	}
	#slide-5 .btn {
	    font-size: 12px;
	}
	#slide-5 .social {
	    margin: 22% auto 0;
	}
	#slide-5 .social img {
	    width: 35px;
	    margin: 0 4px;
	}
}
@media (min-width: 1152px) and (min-height: 648px) {
	#slide-0 .bg1 {
	    margin-left: 10%;
	    margin-bottom: 8%;
	}
	#slide-0 .bg1 img {
	    width: 330px;
	    display: block;
	    opacity: 0.8;
	}
	#slide-0 .chat1 {
	    margin-left: -1%;
	    margin-bottom: 10%;
	    width: 575px;
	}
	#slide-0 .bg2 {
	    margin-bottom: 12%;
	}
	#slide-0 .bg2 img {
	    display: block;
	    margin-left: auto;
	    margin-right: 7%;
	    width: 350px;
	    opacity: 0.8;
	}
	#slide-0 .chat2 {
	    margin-left: auto;
	    margin-right: -2%;
	    margin-bottom: 14%;
	    width: 575px;
	}
	#slide-1 .about .body-content {
	    font-size: 13px;
	}
	#slide-1 .bg {
	    margin-left: 9%;
	    margin-bottom: 6%;
	}
	#slide-1 .bg img {
	    width: 540px;
	}
	#slide-1 .about {
	    margin-left: 9%;
	    margin-bottom: 8%;
	}
	#slide-2 .smoke {
	    left: 40%;
	    top: 20%;
	    height: 220px;
	    width: 224px;
	}
	#slide-2 .body-content .sub-title {
	    font-size: 14px;
	}
	#slide-2 .body-content p {
	    margin-bottom: 0px;
	    font-size: 12px;
	}
	#slide-2 .circle__content {
	    padding: 3em;
	}
	#slide-2 .what1 .circle {
		width: 290px;
	  margin-left: 20%;
	  margin-bottom: 22%;
	}

	#slide-2 .what2 .circle {
		width: 290px;
	  margin-right: 20%;
	  margin-bottom: 22%;
	}

	#slide-2 .what3 .circle {
		width: 290px;
	  margin-left: 7%;
	  margin-top: 11%;
	}

	#slide-2 .circle3 .circle {
		width: 290px;
	  margin-left: 7%;
	  margin-top: 11%;
	}

	#slide-2 .what4 .circle {
		width: 290px;
	  margin-right: 7%;
	  margin-top: 11%;
	}

	#slide-2 .circle4 .circle {
		width: 290px;
	  margin-right: 7%;
	  margin-top: 11%;
	}
}

